@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

._custom {
    background-image: url(./images/desktop/image-header.jpg);
}

@media (max-width : 498px){
    ._custom{
        background-image: url(./images/mobile/image-header.jpg);
    }
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: hsl(7, 99%, 70%);
}